<div class="button-group">
<a class="btn btn-primary text-white" style="text-decoration: none;" href="/categories/cosmos-daae4d68-8898-42e3-a27a-65bcc06f5771">Show</a>
<a class="btn btn-warning text-dark" style="text-decoration: none;" href="/categories/cosmos-daae4d68-8898-42e3-a27a-65bcc06f5771/edit">Edit</a>
<a data-confirm="Are you sure?" class="btn btn-danger text-white" style="text-decoration: none;" rel="nofollow" data-method="delete" href="/categories/cosmos-daae4d68-8898-42e3-a27a-65bcc06f5771">Destroy</a>
</div>