%footer#footer.footer
  .container
    .copyright.text-center
      %p
        ©
        %span Copyright
        %strong.px-1.sitename ImageGallery
        %span All Rights Reserved
    .social-links.d-flex.justify-content-center
      %a{href: ""}
        %i.bi.bi-twitter-x
      %a{href: ""}
        %i.bi.bi-facebook
      %a{href: ""}
        %i.bi.bi-instagram
      %a{href: ""}
        %i.bi.bi-linkedin
/ Scroll Top
%a#scroll-top.scroll-top.d-flex.align-items-center.justify-content-center{:href => "#"}
  %i.bi.bi-arrow-up-short
/ Preloader

