.container
  .row
    -# - if user_signed_in?
      -# = render "modals/image_comments"
    - @posts.each do |post|
      .col-3.justify-content-center.m-1
        = render 'posts/post', post: post
    -# - else
    -#   %h1 Home
    -#   = link_to 'Sign in', new_user_session_path