.container#form-container
  .row
    .col-sm-12.d-flex.justify-content-center.align-items-center
      %h1 Editing post
      %br/
      = render 'form'

      = link_to 'Show', @post
      \|
      = link_to 'Back', posts_path
