.container#form-container
  .row
    .col-sm-12.d-flex.justify-content-center.align-items-center
      %h1 New post
      %br/
      = render "form", post: @post
      %br/
      %div
        = link_to "Back to posts", posts_path