/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap";
@import "registration";
@import "font-awesome";
@import "home_slider";
@import "active_admin";
@import "footer";

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; /* Align body children in a column */
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  font-family: sans-serif;
  //background-color: #430b0b;
  color: #222;
}

.content {
  flex: 1; 
}

* {
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box;
  }
}

#form-container{
  max-width: 1200px;
  margin:1em auto;
  box-shadow: 0 0 12px black;
  padding: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(189, 157, 116, 0.5);;
  color: black;
}


h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  color: black;
}

button, .btn-primary {
  background-color: $primary;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

button:hover, .btn-primary:hover {
  background-color: darken($primary, 10%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

img {
  opacity: 0;
  transform: scale(0.95);
  animation: fadeIn 0.5s ease-in-out forwards;
}

.image-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  max-width: 100%;
}

.image-container {
  position: relative;
  width: 600px;
  height: 300px;
  overflow: hidden;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
}

.button-group {
  margin-left: 20px;

  a {
    display: block;
    margin-bottom: 10px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    font-size: 0.9rem;
  }

  .card-title {
    font-size: 1rem;
  }
}

// #C6A57A
// #171717
// #222222
// #b3d4fc