#form-container{
  width:960px;
  margin:1em auto;
  box-shadow: 0 0 12px black;
  padding:20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: grey;
  color: black;
}

#content-container{
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
}
