.container#main-container
  .row
    .justify-content-center
      %h2 New Category
      %br/
      = render "form", category: @category
      %br/
      %div
        = link_to "Back to categories", categories_path