%footer
  .container
    %p.contact
      Contact: 
      %a{href: "mailto:your-email@example.com"} your-email@example.com
    %ul.social-media
      %li
        %a{href: "https://github.com/Thepusherr", target: "_blank"} GitHub
      %li
        %a{href: "https://www.linkedin.com/in/vyacheslav-pospelov-317a86122", target: "_blank"} LinkedIn
      %li
        %a{href: "https://twitter.com/your-username", target: "_blank"} Twitter
    %p.copyright
      &copy; 2025 Pusher. All rights reserved.