!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Contact - PhotoFolio Bootstrap Template
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    / Favicons
    %link{:href => "assets/img/favicon.png", :rel => "icon"}/
    %link{:href => "assets/img/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    / Fonts
    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Cardo:ital,wght@0,400;0,700;1,400;1,700&display=swap", :rel => "stylesheet"}/
    / Vendor CSS Files
    %link{:href => "assets/vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/vendor/bootstrap-icons/bootstrap-icons.css", :rel => "stylesheet"}/
    %link{:href => "assets/vendor/aos/aos.css", :rel => "stylesheet"}/
    %link{:href => "assets/vendor/glightbox/css/glightbox.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/vendor/swiper/swiper-bundle.min.css", :rel => "stylesheet"}/
    / Main CSS File
    %link{:href => "assets/css/main.css", :rel => "stylesheet"}/
    /
      \=======================================================
      * Template Name: PhotoFolio
      * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
      * Updated: Aug 07 2024 with Bootstrap v5.3.3
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      \========================================================
  %body.contact-page
    %header#header.header.d-flex.align-items-center.sticky-top
      .container-fluid.position-relative.d-flex.align-items-center.justify-content-between
        %a.logo.d-flex.align-items-center.me-auto.me-xl-0{:href => "index.html"}
          / Uncomment the line below if you also wish to use an image logo
          / <img src="assets/img/logo.png" alt="">
          %i.bi.bi-camera
          %h1.sitename PhotoFolio
        %nav#navmenu.navmenu
          %ul
            %li
              %a{:href => "index.html"}
                Home
                %br/
            %li
              %a{:href => "about.html"} About
            %li.dropdown
              %a{:href => "gallery.html"}
                %span Gallery
                %i.bi.bi-chevron-down.toggle-dropdown
              %ul
                %li
                  %a{:href => "gallery.html"} Nature
                %li
                  %a{:href => "gallery.html"} People
                %li
                  %a{:href => "gallery.html"} Architecture
                %li
                  %a{:href => "gallery.html"} Animals
                %li
                  %a{:href => "gallery.html"} Sports
                %li
                  %a{:href => "gallery.html"} Travel
                %li.dropdown
                  %a{:href => "#"}
                    %span Deep Dropdown
                    %i.bi.bi-chevron-down.toggle-dropdown
                  %ul
                    %li
                      %a{:href => "#"} Deep Dropdown 1
                    %li
                      %a{:href => "#"} Deep Dropdown 2
                    %li
                      %a{:href => "#"} Deep Dropdown 3
                    %li
                      %a{:href => "#"} Deep Dropdown 4
                    %li
                      %a{:href => "#"} Deep Dropdown 5
            %li
              %a{:href => "services.html"} Services
            %li
              %a.active{:href => "contact.html"} Contact
          %i.mobile-nav-toggle.d-xl-none.bi.bi-list
        .header-social-links
          %a.twitter{:href => "#"}
            %i.bi.bi-twitter-x
          %a.facebook{:href => "#"}
            %i.bi.bi-facebook
          %a.instagram{:href => "#"}
            %i.bi.bi-instagram
          %a.linkedin{:href => "#"}
            %i.bi.bi-linkedin
    %main.main
      / Page Title
      .page-title{"data-aos" => "fade"}
        .heading
          .container
            .row.d-flex.justify-content-center.text-center
              .col-lg-8
                %h1 Contact
                %p.mb-0 Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.
        %nav.breadcrumbs
          .container
            %ol
              %li
                %a{:href => "index.html"} Home
              %li.current Contact
      / End Page Title
      / Contact Section
      %section#contact.contact.section
        .container{"data-aos" => "fade-up", "data-aos-delay" => "100"}
          .info-wrap{"data-aos" => "fade-up", "data-aos-delay" => "200"}
            .row.gy-5
              .col-lg-4
                .info-item.d-flex.align-items-center
                  %i.bi.bi-geo-alt.flex-shrink-0
                  %div
                    %h3 Location
                    %p A108 Adam Street, New York, NY 535022
              / End Info Item
              .col-lg-4
                .info-item.d-flex.align-items-center
                  %i.bi.bi-telephone.flex-shrink-0
                  %div
                    %h3 Call
                    %p +1 5589 55488 55
              / End Info Item
              .col-lg-4
                .info-item.d-flex.align-items-center
                  %i.bi.bi-envelope.flex-shrink-0
                  %div
                    %h3 Email
                    %p info@example.com
              / End Info Item
          %form.php-email-form{:action => "forms/contact.php", "data-aos" => "fade-up", "data-aos-delay" => "300", :method => "post"}
            .row.gy-4
              .col-md-6
                %input.form-control{:name => "name", :placeholder => "Your Name", :required => "", :type => "text"}/
              .col-md-6
                %input.form-control{:name => "email", :placeholder => "Your Email", :required => "", :type => "email"}/
              .col-md-12
                %input.form-control{:name => "subject", :placeholder => "Subject", :required => "", :type => "text"}/
              .col-md-12
                %textarea.form-control{:name => "message", :placeholder => "Message", :required => "", :rows => "6"}
              .col-md-12.text-center
                .loading Loading
                .error-message
                .sent-message Your message has been sent. Thank you!
                %button{:type => "submit"} Send Message
          / End Contact Form
      / /Contact Section
    %footer#footer.footer
      .container
        .copyright.text-center
          %p
            ©
            %span Copyright
            %strong.px-1.sitename PhotoFolio
            %span All Rights Reserved
        .social-links.d-flex.justify-content-center
          %a{:href => ""}
            %i.bi.bi-twitter-x
          %a{:href => ""}
            %i.bi.bi-facebook
          %a{:href => ""}
            %i.bi.bi-instagram
          %a{:href => ""}
            %i.bi.bi-linkedin
        .credits
          / All the links in the footer should remain intact.
          / You can delete the links only if you've purchased the pro version.
          / Licensing information: https://bootstrapmade.com/license/
          / Purchase the pro version with working PHP/AJAX contact form: [buy-url]
          Designed by
          %a{:href => "https://bootstrapmade.com/"} BootstrapMade
    / Scroll Top
    %a#scroll-top.scroll-top.d-flex.align-items-center.justify-content-center{:href => "#"}
      %i.bi.bi-arrow-up-short
    / Preloader
    #preloader
      .line
    / Vendor JS Files
    %script{:src => "assets/vendor/bootstrap/js/bootstrap.bundle.min.js"}
    %script{:src => "assets/vendor/php-email-form/validate.js"}
    %script{:src => "assets/vendor/aos/aos.js"}
    %script{:src => "assets/vendor/glightbox/js/glightbox.min.js"}
    %script{:src => "assets/vendor/swiper/swiper-bundle.min.js"}
    / Main JS File
    %script{:src => "assets/js/main.js"}