!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Services - PhotoFolio Bootstrap Template
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    / Favicons
    %link{:href => "assets/img/favicon.png", :rel => "icon"}/
    %link{:href => "assets/img/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    / Fonts
    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Cardo:ital,wght@0,400;0,700;1,400;1,700&display=swap", :rel => "stylesheet"}/
    / Vendor CSS Files
    %link{:href => "assets/vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/vendor/bootstrap-icons/bootstrap-icons.css", :rel => "stylesheet"}/
    %link{:href => "assets/vendor/aos/aos.css", :rel => "stylesheet"}/
    %link{:href => "assets/vendor/glightbox/css/glightbox.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/vendor/swiper/swiper-bundle.min.css", :rel => "stylesheet"}/
    / Main CSS File
    %link{:href => "assets/css/main.css", :rel => "stylesheet"}/
    /
      \=======================================================
      * Template Name: PhotoFolio
      * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
      * Updated: Aug 07 2024 with Bootstrap v5.3.3
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      \========================================================
  %body.services-page
    %header#header.header.d-flex.align-items-center.sticky-top
      .container-fluid.position-relative.d-flex.align-items-center.justify-content-between
        %a.logo.d-flex.align-items-center.me-auto.me-xl-0{:href => "index.html"}
          / Uncomment the line below if you also wish to use an image logo
          / <img src="assets/img/logo.png" alt="">
          %i.bi.bi-camera
          %h1.sitename PhotoFolio
        %nav#navmenu.navmenu
          %ul
            %li
              %a{:href => "index.html"}
                Home
                %br/
            %li
              %a{:href => "about.html"} About
            %li.dropdown
              %a{:href => "gallery.html"}
                %span Gallery
                %i.bi.bi-chevron-down.toggle-dropdown
              %ul
                %li
                  %a{:href => "gallery.html"} Nature
                %li
                  %a{:href => "gallery.html"} People
                %li
                  %a{:href => "gallery.html"} Architecture
                %li
                  %a{:href => "gallery.html"} Animals
                %li
                  %a{:href => "gallery.html"} Sports
                %li
                  %a{:href => "gallery.html"} Travel
                %li.dropdown
                  %a{:href => "#"}
                    %span Deep Dropdown
                    %i.bi.bi-chevron-down.toggle-dropdown
                  %ul
                    %li
                      %a{:href => "#"} Deep Dropdown 1
                    %li
                      %a{:href => "#"} Deep Dropdown 2
                    %li
                      %a{:href => "#"} Deep Dropdown 3
                    %li
                      %a{:href => "#"} Deep Dropdown 4
                    %li
                      %a{:href => "#"} Deep Dropdown 5
            %li
              %a.active{:href => "services.html"} Services
            %li
              %a{:href => "contact.html"} Contact
          %i.mobile-nav-toggle.d-xl-none.bi.bi-list
        .header-social-links
          %a.twitter{:href => "#"}
            %i.bi.bi-twitter-x
          %a.facebook{:href => "#"}
            %i.bi.bi-facebook
          %a.instagram{:href => "#"}
            %i.bi.bi-instagram
          %a.linkedin{:href => "#"}
            %i.bi.bi-linkedin
    %main.main
      / Page Title
      .page-title{"data-aos" => "fade"}
        .heading
          .container
            .row.d-flex.justify-content-center.text-center
              .col-lg-8
                %h1 Services
                %p.mb-0 Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.
                %a.cta-btn{:href => "contact.html"}
                  Available for Hire
                  %br/
        %nav.breadcrumbs
          .container
            %ol
              %li
                %a{:href => "index.html"} Home
              %li.current Services
      / End Page Title
      / Services Section
      %section#services.services.section
        .container
          .row.gy-4
            .col-xl-3.col-md-6.d-flex{"data-aos" => "fade-up", "data-aos-delay" => "100"}
              .service-item.position-relative
                .icon
                  %i.bi.bi-activity.icon
                %h4
                  %a.stretched-link{:href => ""} Lorem Ipsum
                %p Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
            / End Service Item
            .col-xl-3.col-md-6.d-flex{"data-aos" => "fade-up", "data-aos-delay" => "200"}
              .service-item.position-relative
                .icon
                  %i.bi.bi-bounding-box-circles.icon
                %h4
                  %a.stretched-link{:href => ""} Sed ut perspici
                %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            / End Service Item
            .col-xl-3.col-md-6.d-flex{"data-aos" => "fade-up", "data-aos-delay" => "300"}
              .service-item.position-relative
                .icon
                  %i.bi.bi-calendar4-week.icon
                %h4
                  %a.stretched-link{:href => ""} Magni Dolores
                %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            / End Service Item
            .col-xl-3.col-md-6.d-flex{"data-aos" => "fade-up", "data-aos-delay" => "400"}
              .service-item.position-relative
                .icon
                  %i.bi.bi-broadcast.icon
                %h4
                  %a.stretched-link{:href => ""} Nemo Enim
                %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
            / End Service Item
      / /Services Section
      / Pricing Section
      %section#pricing.pricing.section
        / Section Title
        .container.section-title{"data-aos" => "fade-up"}
          %h2 Pricing
          %p Check my adorable pricing
        / End Section Title
        .container{"data-aos" => "fade-up", "data-aos-delay" => "100"}
          .row.gy-4.gx-lg-5
            .col-lg-6
              .pricing-item.d-flex.justify-content-between
                %h3 Portrait Photography
                %h4 $160.00
            / End Pricing Item
            .col-lg-6
              .pricing-item.d-flex.justify-content-between
                %h3 Fashion Photography
                %h4 $300.00
            / End Pricing Item
            .col-lg-6
              .pricing-item.d-flex.justify-content-between
                %h3 Sports Photography
                %h4 $200.00
            / End Pricing Item
            .col-lg-6
              .pricing-item.d-flex.justify-content-between
                %h3 Still Life Photography
                %h4 $120.00
            / End Pricing Item
            .col-lg-6
              .pricing-item.d-flex.justify-content-between
                %h3 Wedding Photography
                %h4 $500.00
            / End Pricing Item
            .col-lg-6
              .pricing-item.d-flex.justify-content-between
                %h3 Photojournalism
                %h4 $200.00
            / End Pricing Item
      / /Pricing Section
      / Testimonials Section
      %section#testimonials.testimonials.section
        / Section Title
        .container.section-title{"data-aos" => "fade-up"}
          %h2 Testimonials
          %p What they are saying
        / End Section Title
        .container{"data-aos" => "fade-up", "data-aos-delay" => "100"}
          .swiper.init-swiper
            %script.swiper-config{:type => "application/json"}
              :cdata
                {
                "loop": true,
                "speed": 600,
                "autoplay": {
                "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
                },
                "breakpoints": {
                "320": {
                "slidesPerView": 1,
                "spaceBetween": 40
                },
                "1200": {
                "slidesPerView": 3,
                "spaceBetween": 1
                }
                }
                }
            .swiper-wrapper
              .swiper-slide
                .testimonial-item
                  .stars
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                  %p
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  .profile.mt-auto
                    %img.testimonial-img{:alt => "", :src => "assets/img/testimonials/testimonials-1.jpg"}/
                    %h3 Saul Goodman
                    %h4 Ceo &amp; Founder
              / End testimonial item
              .swiper-slide
                .testimonial-item
                  .stars
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                  %p
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  .profile.mt-auto
                    %img.testimonial-img{:alt => "", :src => "assets/img/testimonials/testimonials-2.jpg"}/
                    %h3 Sara Wilsson
                    %h4 Designer
              / End testimonial item
              .swiper-slide
                .testimonial-item
                  .stars
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                  %p
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  .profile.mt-auto
                    %img.testimonial-img{:alt => "", :src => "assets/img/testimonials/testimonials-3.jpg"}/
                    %h3 Jena Karlis
                    %h4 Store Owner
              / End testimonial item
              .swiper-slide
                .testimonial-item
                  .stars
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                  %p
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  .profile.mt-auto
                    %img.testimonial-img{:alt => "", :src => "assets/img/testimonials/testimonials-4.jpg"}/
                    %h3 Matt Brandon
                    %h4 Freelancer
              / End testimonial item
              .swiper-slide
                .testimonial-item
                  .stars
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                    %i.bi.bi-star-fill
                  %p
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  .profile.mt-auto
                    %img.testimonial-img{:alt => "", :src => "assets/img/testimonials/testimonials-5.jpg"}/
                    %h3 John Larson
                    %h4 Entrepreneur
              / End testimonial item
            .swiper-pagination
      / /Testimonials Section
    %footer#footer.footer
      .container
        .copyright.text-center
          %p
            ©
            %span Copyright
            %strong.px-1.sitename PhotoFolio
            %span All Rights Reserved
        .social-links.d-flex.justify-content-center
          %a{:href => ""}
            %i.bi.bi-twitter-x
          %a{:href => ""}
            %i.bi.bi-facebook
          %a{:href => ""}
            %i.bi.bi-instagram
          %a{:href => ""}
            %i.bi.bi-linkedin
        .credits
          / All the links in the footer should remain intact.
          / You can delete the links only if you've purchased the pro version.
          / Licensing information: https://bootstrapmade.com/license/
          / Purchase the pro version with working PHP/AJAX contact form: [buy-url]
          Designed by
          %a{:href => "https://bootstrapmade.com/"} BootstrapMade
    / Scroll Top
    %a#scroll-top.scroll-top.d-flex.align-items-center.justify-content-center{:href => "#"}
      %i.bi.bi-arrow-up-short
    / Preloader
    #preloader
      .line
    / Vendor JS Files
    %script{:src => "assets/vendor/bootstrap/js/bootstrap.bundle.min.js"}
    %script{:src => "assets/vendor/php-email-form/validate.js"}
    %script{:src => "assets/vendor/aos/aos.js"}
    %script{:src => "assets/vendor/glightbox/js/glightbox.min.js"}
    %script{:src => "assets/vendor/swiper/swiper-bundle.min.js"}
    / Main JS File
    %script{:src => "assets/js/main.js"}